#start {
  width: 100px;
  height: 100px;
  background-color: aqua;
  margin: 5px;
}

.knap {
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin: 5px;
}

#knap2 {
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin: 5px;
}

#tilbage {
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin: 5px;
}

#pop-up {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 500px;
    background-color: burlywood;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

button {
    background-color: crimson;
}
