* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: Biryani, sans-serif;
  line-height: 1;
}
nav{
  font-size: 25px;
  background-color: #56A0D3;
  color: white;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 25px;
}
h1{
  text-align: center;
  font-size: 47px;
  margin: 10px;
}
h2{
  text-align: center;
  font-size: 35px;
}
a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%; /* skriftstørrelse 10px */
  height: 100vh;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr ;
  }

.wrapper-farver {
  color: white;
  grid-template-areas:
  "white ."
  "blue ."
  "grey ."
  "red ."
  "green ."
}

.white {
  color: #303031; 
  grid-area: white;
  font-size: 100%;
  text-align: center;
  width: 150px;
  background-color: #FFFFFF;
  margin-left: 15%;
  padding: 25px 0;
}

.blue {
  grid-area: blue;
  font-size: 100%;
  text-align: center;
  width: 150px;
  background-color: #57a0d4;
  margin-left: 15%;
  padding: 25px 0;
}

.grey {
  grid-area: grey;
  font-size: 100%;
  text-align: center;
  width: 150px;
  background-color: #303031;
  margin-left: 15%;
  padding: 25px 0;
}

.red {
  grid-area: red;
  font-size: 100%;
  text-align: center;
  width: 150px;
  background-color: #cc1336;
  margin-left: 15%;
  padding: 25px 0;
}

.green {
  grid-area: green;
  font-size: 100%;
  text-align: center;
  width: 150px;
  background-color: #68bd96;
  margin-left: 15%;
  padding: 25px 0;
}


.button-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
}
.button1 {
  background-color: #56A0D3;
  font-size: 30px;
  height: 35px;
  width: 100px;
  margin: 30px;
  text-align: center;
}

.button2 {
  background-color: #D38256;
  font-size: 20px;
  height: 25px;
  width: 80px;
  margin: 30px;
  text-align: center;
}

.button3 {
  background-color: #2D2D2D;
  font-size: 15px;
  color: #F2F0ED;
  height: 20px;
  width: 60px;
  margin: 30px;
  text-align: center;
}
