button {
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.option {
    background-color: #56A0D3;
    font-size: 18px;
    font-family: roboto;
    color: white;
    width: 367px;
    height: 46px;
    margin-bottom: 25px;
    border-radius: 23px
}

#backBtn {
    width: auto;
    height: 19px;
    margin: 5px;
    background-color: transparent;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: left;
    margin-top: 15px;
    text-decoration: underline;
}

#backBox {
    width: 50%;
    display: flex;
    align-items: center;
}

#closeBox {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

#closeBtn {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    margin: 5px;
    background-color: #303030;
    font-size: 25px;
    color: #FFFFFF;
}

#pop-up {
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 636px;
    height: 611px;
    background-color: burlywood;
    border: solid black 3px;
    border-radius: 12px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

#upperSection {
    width: 95%;
    height: 8%;
    margin: 5px;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-evenly;
}

#midSection {
    width: 95%;
    height: 20%;
    margin: 5px;
    /* background-color: antiquewhite; */
    text-align: left;
}

#lowerSection {
    width: auto;
    height: 65%;
    margin: 5px;
    background-color: antiquewhite;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: -15%;

}

#maskot {
  position: absolute;
  right: 0%;
  bottom: 0;
}
