button {
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.option {
    background-color: #56A0D3;
    font-size: 18px;
    font-family: roboto;
    color: white;
    width: 367px;
    height: 46px;
    margin-bottom: 25px;
    border-radius: 23px
}

#backBtn {
  font-family: "Roboto Condensed" sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
  position: relative;
  left: 15px;
  background-color: transparent;
}

#backBox {
    width: 50%;
    display: flex;
    align-items: center;
}

#closeBox {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

#closeBtn {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    margin: 5px;
    margin-left: 205px;
    background-color: #303030;
    font-size: 30px;
    color: #F2F0ED;
    position: relative;
    top:-40px;
    right:-40px;
}

#pop-up {
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 636px;
    height: 611px;
    background-color: burlywood;
    border: solid black 3px;
    border-radius: 12px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

#upperSection {
    width: 95%;
    height: 8%;
    margin: 5px;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-evenly;
}

#midSection {
    width: 95%;
    height: 20%;
    margin: 5px;
    /* background-color: antiquewhite; */
    text-align: center;
}

#lowerSection {
    width: 95%;
    height: 65%;
    margin: 5px;
<<<<<<< HEAD
    /*background-color: antiquewhite;*/
=======
    /* background-color: antiquewhite; */
>>>>>>> 0c036e15c8c0465802ffa56f2f858ff42a9306da
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
<<<<<<< Updated upstream
    position: relative;
    left: -15%;

}

#maskot {
  position: absolute;
  right: 0%;
  bottom: 0;
  width: 33%;
=======
>>>>>>> Stashed changes
}
