button {
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.option {
    background-color: #56A0D3;
    box-shadow: 2px 3px rgba(0,0,0,0.2);
    font-size: 18px;
    font-family: "roboto", sans-serif; align-self: center; margin: auto;
    color: white;
    width: 367px;
    height: 46px;
    margin-top: 0;
    margin-bottom: 25px;
    border-radius: 23px
}

h1 {
  font-family:"Roboto Condensed", sans-serif;
}

#breadcrumb {
    display: flex;
}

.breadcrumb {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 13px;
    margin: 2px;
}

#backBtn {
  font-family: "Roboto Condensed" sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
  background-color: transparent;
  margin-left: 0px;
}

#backBox {
    width: 50%;
    display: flex;
    /* justify-content: flex-start;
    align-items: center; */
}

#closeBox {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

#closeBtn {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    margin: 5px;
    margin-left: 205px;
    background-color: #303030;
    font-size: 30px;
    color: #F2F0ED;
    position: relative;
    top:-40px;
    right:-40px;
}

#pop-up {
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 636px;
    height: 611px;
    background-color: #F5FBFF;
    border: solid black 3px;
    border-radius: 12px;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
}

#upperSection {
    width: 92%;
    height: 8%;
    margin: 5px;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 5%;
}

#midSection {
    width: auto;
    height: 20%;
    margin: 5px;
    /* background-color: antiquewhite; */
    /* text-align: center; */
    position: relative;
    left: 5%;
}

#lowerSection {
    width: auto;
    height: 65%;
    margin: 5px;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: 5%;
}

#maskot {
  position: absolute;
  right: 0%;
  bottom: 0;
  width: 36%;
}
